<div class="padding3b">
	<div class="featuresbg">
		<div class="featuresbgoverlay">
			<div class="row">
				<h1 class="padding3v white font4 content2"><span class="weight100 font3">265 years of experience,</span><Br>Infused into one portal</h1>
			</div>
		</div>
	</div>
</div>

<div class="row padding2v content2">
	<div class="large-7 columns">
		<h2 class="weight100">Unmatched support</h2>
		<p class="padding2b margin0b padding2b">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
	</div>
</div>

<div class="row padding2v content2">
	<div class="large-5 columns">
		<br>
	</div>
	<div class="large-7 columns">
		<h2 class="weight100">Franchise Monetisation</h2>
		<p class="padding2b margin0b padding2b">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
	</div>
</div>

<div class="padding3v">
<div class="row breathtakingbg">
	<div class="large-7 columns breathtakingprintbg content2 padding3v">
		<h2 class="white font3 weight100">Breathtaking print</h2>
		<p class="margin0b white weight100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
		</div>
</div>
</div>

<div class="row padding5b padding3t">
  <div class="row">
    <div class="large-12 columns content text-center">
      <h2 class="thin margin2b">Select a case study to see how we transformed their print management</h2>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns content text-center">
      <a href="<%= fronts_casestudybosch_path %>">
      	<%= image_tag('boschlogohover.png', class: "opacityhover") %>
      </a>
    </div>
    <div class="large-4 columns content text-center">
      <a href="<%= fronts_casestudyservicemaster_path %>"><%= image_tag('servicemasterlogohover.png', class: "opacityhover") %></a>
    </div>
    <div class="large-4 columns content text-center">
      <a href="<%= fronts_casestudythebestof_path %>"><%= image_tag('thebestoflogohover.png', class: "opacityhover") %></a>
    </div>
  </div>
</div>

<div class="row padding3v content">
	<div class="large-3 columns text-left content">
		<h4>Flexibility</h4>
		<p class="grey">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
	</div>
	<div class="large-3 columns text-left content">
		<h4>Flexibility</h4>
		<p class="grey">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
	</div>
	<div class="large-3 columns text-left content">
		<h4>Flexibility</h4>
		<p class="grey">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
	</div>
	<div class="large-3 columns text-left content">
		<h4>Flexibility</h4>
		<p class="grey">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
	</div>
</div>
<div class="row padding3v content">
	<div class="large-3 columns text-left content">
		<h4>Flexibility</h4>
		<p class="grey">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
	</div>
	<div class="large-3 columns text-left content">
		<h4>Flexibility</h4>
		<p class="grey">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
	</div>
	<div class="large-3 columns text-left content">
		<h4>Flexibility</h4>
		<p class="grey">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
	</div>
	<div class="large-3 columns text-left content">
		<h4>Flexibility</h4>
		<p class="grey">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
	</div>
</div>

<div class="row padding5v">
	<div class="large-6 columns">
		<h2 class="mli italic text-center">TRY IT FOR YOURSELF...</h2>
		<form>
		  <div class="row content">
		    <div class="small-10 columns">
		      <div class="row">
		        <div class="small-3 columns">
		          <label for="right-label" class="right inline">Name:</label>
		        </div>
		        <div class="small-9 columns">
		          <input type="text" id="right-label" placeholder="Enter your name" class="nameform" onkeyUp="document.getElementById('nameinput').innerHTML = this.value" />
		        </div>
		      </div>

		      <div class="row">
		        <div class="small-3 columns">
		          <label for="right-label" class="right inline">Telephone:</label>
		        </div>
		        <div class="small-9 columns">
		          <input type="text" id="right-label" placeholder="Enter your telephone" class="telephoneform" onkeyUp="document.getElementById('telephoneinput').innerHTML = this.value" />
		        </div>
		      </div>
		      <div class="row">
		        <div class="small-3 columns">
		          <label for="right-label" class="right inline">Email:</label>
		        </div>
		        <div class="small-9 columns">
		          <input type="text" id="right-label" placeholder="Enter your email" class="emailform" onkeyUp="document.getElementById('emailinput').innerHTML = this.value" />
		        </div>
		      </div>
		      <div class="row">
		        <div class="small-3 columns">
		          <label for="right-label" class="right inline">Website:</label>
		        </div>
		        <div class="small-9 columns">
		          <input type="text" id="right-label" placeholder="Enter your website" class="websiteform" onkeyUp="document.getElementById('websiteinput').innerHTML = this.value" />
		        </div>
		      </div>
		    </div>
		  </div>
		</form>
	</div>
	<div class="large-6 columns">
		<div class="businesscard center text-left">
			<div id="nameinput">Your Name</div>
			<div>T: <span id="telephoneinput">0845 676 9114</span></div>
			<div>E: <span id="emailinput">sales@besleyandcopp.co.uk</span></div>
			<div>W: <span id="websiteinput">www.besleyandcopp.co.uk</span></div>
		</div>
	</div>
</div>

<div class="padding5b">
<div class="row purplecontainer padding3t padding5b text-center">
	<h2 class="popularline thin">Ready to talk about your eSupply Portal?</h2>
	<%= link_to getstarted_path do %><span class="featuresbutton">GET STARTED</span><% end %>
</div>
</div>

<script type="text/javascript">
    (function() {
        $(function() {
           $('.row1').matchHeight();
          });
    })();
</script>

<script type="script/javascript">
  $('.nameform').keyup(function(event) {
    newText = event.target.value;
    $('.nameinput').text(newText);
  });
</script>