<div class="padding3b">
	<div class="ewemovebg">
		<div class="featuresbgoverlay">
			<div class="row">
				<h1 class="padding3v white font4 content2"><span class="weight100 font3">265 years of experience,</span><Br>Infused into one portal</h1>
			</div>
		</div>
	</div>
</div>

<div class="row padding2v content2">
	<div class="large-8 columns row1">
		<h2 class="weight100">Unmatched support</h2>
		<p class="padding2b margin0b padding2b">Behind the eSupply Portals technological front is a company wise in support and experienced in print. With over 265 years in the industry and with roots engraved into London Mayors, there is no company more qualified to consult and support on print management. Our proficient team realises the illimitable nature of our service, providing you with the flexibility you need and the support you want. We understand the uniqueness of franchise support, enabling the franchisor with smart insight and powerful marketing distribution while supporting and assisting the franchisees to assure convenient print procurement.</p>
	</div>
	<div class="large-4 columns row1 supportbg">
	</div>
</div>

<div class="row padding2v content2">
	<div class="large-4 columns row2 monetisationbg">
	</div>
	<div class="large-8 columns row2">
		<h2 class="weight100">Franchise Monetisation</h2>
		<p class="padding2b margin0b">While our platform revolutionises print procurement and marketing distribution across franchise networks, exceeding value is provided by allowing the franchiser themselves to monetise through print mark-ups. Due to our heritage as print brokers and our manufacturer relations, such mark-ups are possible while maintaining low (and often more affordable) costs than local printers. Put simply, the eSupply Portal allows you to open up a pemanent and healthy stream of revenue while providing your franchisees with a valuable solution.</p>
	</div>
</div>

<div class="padding3v">
<div class="row breathtakingbg">
	<div class="large-7 columns breathtakingprintbg content2 padding3v">
		<h2 class="white font3 weight100">Breathtaking print</h2>
		<p class="white weight100">Print isn't vague, there's thousands of products to choose from. Whether it be leaflets or bespoke marketing merchandise, expertise is neccessary to provide an ideal print solution that acheives exactly what it was set out to do. Alongside your eSupply Portal the complimentary consultancy you will receive is thorough and well-thought out. We aid you in exploring the nature of your marketing material and finding an effective soluton than exceeds expectations. 265 years in the industry enables a level of consultancy which is simply unmatched.</p>
		<p class="white weight100 margin0b">Ring us on <span class="weight900">0845 676 9114</span> for no-obligation consultancy on your marketing campaigns.</p>
		</div>
</div>
</div>

<div class="row padding5b padding3t">
  <div class="row">
    <div class="large-12 columns content text-center">
      <h2 class="thin margin2b">Select a case study to see how we transformed their print management</h2>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns content text-center">
      <a href="<%= fronts_casestudybosch_path %>">
      	<%= image_tag('boschlogohover.png', class: "opacityhover") %>
      </a>
    </div>
    <div class="large-4 columns content text-center">
      <a href="<%= fronts_casestudyservicemaster_path %>"><%= image_tag('servicemasterlogohover.png', class: "opacityhover") %></a>
    </div>
    <div class="large-4 columns content text-center">
      <a href="<%= fronts_casestudythebestof_path %>"><%= image_tag('thebestoflogohover.png', class: "opacityhover") %></a>
    </div>
  </div>
</div>

<div class="row padding3v content">
	<div class="large-3 columns text-left content">
		<h4>Monetisation</h4>
		<p class="grey">Generate a pernament channel of revenue on your networks print sales while providing exceptional value to your franchisees.</p>
	</div>
	<div class="large-3 columns text-left content">
		<h4>Flexibility</h4>
		<p class="grey">Our ability to source products is limitless, we can provide anything from paper leaflets to wigs and any promotional merchandise.</p>
	</div>
	<div class="large-3 columns text-left content">
		<h4>Control</h4>
		<p class="grey">Use your eSupply Portal as a centralised way to conveniently distribute and control marketing material. Ensure your brand is aligned across your network.</p>
	</div>
	<div class="large-3 columns text-left content">
		<h4>Insight</h4>
		<p class="grey">Track your franchisees and their co-operation in marketing activities, know who's partaking in campaigns and who your most active franchisees are.</p>
	</div>
</div>
<div class="row padding3v content">
	<div class="large-3 columns text-left content">
		<h4>Consultancy</h4>
		<p class="grey">Utilise consultancy on your marketing campaigns with a 265 year old print brokerage, supporting you in acheiving your goals and exceeding expectations.</p>
	</div>
	<div class="large-3 columns text-left content">
		<h4>Support</h4>
		<p class="grey">Have a team of print and marketing experts ready on stand-by, Assisting via phone, email and live support 5 days a week.</p>
	</div>
	<div class="large-3 columns text-left content">
		<h4>Franchisee Assistance</h4>
		<p class="grey">We're experienced in assisting franchisees in getting the most out of their eSupply Portal, taking the strain off of the franchiser.</p>
	</div>
	<div class="large-3 columns text-left content">
		<h4>Customisation</h4>
		<p class="grey">Your eSupply Portal is comparable to any online web store, completely personalised to your brands look and feel.</p>
	</div>
</div>

<div class="row padding5v">
	<div class="large-6 columns">
		<h2 class="mli italic text-center">TRY IT FOR YOURSELF...</h2>
		<form>
		  <div class="row content">
		    <div class="small-10 columns">
		      <div class="row">
		        <div class="small-3 columns">
		          <label for="right-label" class="right inline">Name:</label>
		        </div>
		        <div class="small-9 columns">
		          <input type="text" id="right-label" placeholder="Enter your name" class="nameform" onkeyUp="document.getElementById('nameinput').innerHTML = this.value" />
		        </div>
		      </div>

		      <div class="row">
		        <div class="small-3 columns">
		          <label for="right-label" class="right inline">Telephone:</label>
		        </div>
		        <div class="small-9 columns">
		          <input type="text" id="right-label" placeholder="Enter your telephone" class="telephoneform" onkeyUp="document.getElementById('telephoneinput').innerHTML = this.value" />
		        </div>
		      </div>
		      <div class="row">
		        <div class="small-3 columns">
		          <label for="right-label" class="right inline">Email:</label>
		        </div>
		        <div class="small-9 columns">
		          <input type="text" id="right-label" placeholder="Enter your email" class="emailform" onkeyUp="document.getElementById('emailinput').innerHTML = this.value" />
		        </div>
		      </div>
		      <div class="row">
		        <div class="small-3 columns">
		          <label for="right-label" class="right inline">Website:</label>
		        </div>
		        <div class="small-9 columns">
		          <input type="text" id="right-label" placeholder="Enter your website" class="websiteform" onkeyUp="document.getElementById('websiteinput').innerHTML = this.value" />
		        </div>
		      </div>
		    </div>
		  </div>
		</form>
	</div>
	<div class="large-6 columns">
		<div class="businesscard center text-left">
			<div id="nameinput">Your Name</div>
			<div class="lineheight15"><span class="businesscardletters">T:</span> <span id="telephoneinput">0845 676 9114</span></div>
			<div class="lineheight15"><span class="businesscardletters">E:</span> <span id="emailinput">sales@besleyandcopp.co.uk</span></div>
			<div class="lineheight15"><span class="businesscardletters">W:</span> <span id="websiteinput">www.besleyandcopp.co.uk</span></div>
		</div>
	</div>
</div>

<div class="padding5b">
<div class="row purplecontainer padding3t padding5b text-center">
	<h2 class="popularline thin">Ready to talk about your eSupply Portal?</h2>
	<%= link_to getstarted_path do %><span class="featuresbutton">GET STARTED</span><% end %>
</div>
</div>

<script type="text/javascript">
    (function() {
        $(function() {
           $('.row1').matchHeight();
           $('.row2').matchHeight();
          });
    })();
</script>

<script type="script/javascript">
  $('.nameform').keyup(function(event) {
    newText = event.target.value;
    $('.nameinput').text(newText);
  });
</script>