<div class="mainimagebg">
  <div class="mainimageoverlay">
    <div class="row mainpadding">
      <div class="large-6 columns">
        <br>
      </div>
      <div class="large-6 columns content">
        <h1 class="white weight100 font32">Providing world-class print platforms for the franchise industry</h1>
        <div class="margin1t">
          <%= link_to getstarted_path do %><span class="maingetstarted">GET STARTED</span><% end %><a href="https://www.youtube.com/watch?v=-Pyx5dWJfHs" target="_blank"><span class="mainwatchthevideo">WATCH THE VIDEO</span></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mainoverlay">

<div class="row lightcontainer" data-equalizer>
  <div class="large-4 columns center pinkcontainer">
    <a href=""><div data-equalizer-watch><%= image_tag("sub1.png", class: "imghover antimove") %></a></div>
  </div>
  <div class="large-4 columns center cyancontainer">
    <a href=""><div data-equalizer-watch><%= image_tag("sub2.png", class: "imghover antimove") %></div></a>
  </div>
  <div class="large-4 columns sub3desktop right purplecontainer" data-equalizer-watch>
    <div class="row imghover connectcontainer">
      <div class="large-6 columns">
        <br>
      </div>
      <div class="large-6 columns">
        <ul class="social-inline-list">
          <li><a href="http://www.facebook.com/pages/besley-and-copp/390339894371512"><%= image_tag("sub3-fb.png") %></a></li>
          <li><a href="http://www.twitter.com/besleyandcopp"><%= image_tag("sub3-twt.png") %></a></li>
          <li><a href="http://www.linkedin.com/company/1290683/"><%= image_tag("sub3-lnk.png") %></a></li>
          <li><a href="http://www.youtube.com/besleyandcopp/"><%= image_tag("sub3-yt.png") %></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="large-4 columns sub3mobile center purplecontainer">
    <a href="http://www.twitter.com/besleyandcopp"><img class="imghover antimove" src="img/sub3mobile.png"></a>
  </div>
</div>


<div class="row padding5v">
  <a target="_blank" href="https://www.youtube.com/watch?v=-Pyx5dWJfHs"><div class="large-4 columns row1 videobg content text-center">
  </div></a>
  <div class="large-8 columns content row1">
    <p class="margin0b">Designed specifically for the Franchise industry, the eSupply Portal is your ideal web-based partner, empowering your network to personalise, order and distribute brand-specific products and services quickly and effectively.

    Whether you need to deliver a one-off marketing initiative or a full scale national campaign, the eSupply Portal will give your organisation the ability to centralise the procurement process and provide a fully regionalised product range quickly and effectively.

    The beauty of your eSupply Portal is that it’s all wrapped up in your company's look &amp; feel appealing to every user as a seamless and completely integral part of your business. With no additional hardware or software requirements apart from a computer and a modern browser, we've even taken the technical pain away!</p>
  </div>
</div>

<div class="padding5b">
<div class="row ewemovebg content2">
  <div class="large-5 columns">
    <div class="padding3v">
      <h2 class="white weight100">Your brand, your portal</h2>
      <p class="white weight100">With over 265 years of print management, there's no one better to manage your print than the eSupply Portal team. Our feature packed portal will not only enable flexible straight-forward print procurement across your entire organisation, but will provide your franchise with the opportunity to develop a new channel of revenue.</p>
      <%= link_to features_path do %><span class="featuresbutton">SEE ALL THE FEATURES</span><% end %>
    </div>
  </div>
  <div class="large-7 columns">
    <br>
  </div>
</div>
</div>

<div class="row purplecontainer padding5v">
  <div class="row">
    <div class="large-12 columns content text-center">
      <h2 class="popularline thin">With a service so flawless, our popularity is no surprise.</h2>
      <p class="whitetextsmall mli">Select a brand to see how we revolutionised their business</p>
    </div>
  </div>
  <div class="row purplecontainer">
    <div class="large-4 columns content text-center">
      <a href="<%= fronts_casestudybosch_path %>"><center class="desktoplogos logomargin boschlogo"></center><img class="logomargin mobilelogos" src="img/boschlogo.png"></a>
    </div>
    <div class="large-4 columns content text-center">
      <a href="<%= fronts_casestudyservicemaster_path %>"><center class="desktoplogos logomargin servicemasterlogo"></center><img class="logomargin mobilelogos" src="img/servicemasterlogo.png"></a>
    </div>
    <div class="large-4 columns content text-center">
      <a href="<%= fronts_casestudythebestof_path %>"><center class="desktoplogos logomargin thebestoflogo"></center><img class="logomargin mobilelogos" src="img/thebestoflogo.png"></a>
    </div>
  </div>
</div>

<div class="padding5v">
  <div class="row cyancontainer">
    <div class="large-12 columns content text-center padding3v">
      <h4 class="margin2t whitetextsmall3 thin">If you are a franchisor or you look after a similar multi-site organisation, then why not <b>call us today for a no-obligation chat.</b><br>
        <h3 class="margin2b whitetextsmall3 mli">0845 676 9114</h3></h4>
    </div>
  </div>
</div>

<script>
$(function() {
    $('.row1').matchHeight();
});
</script>